<%= form_for @smowithdrawal, :as => :smowithdrawal, :url => daily_report_smowithdrawals_path(@daily_report, @smowithdrawal) do |f| %>
	<% if @smowithdrawal.errors.any? %>
                <div id="error_explanation">
                        <h2>
                                <%= pluralize(@smowithdrawal.errors.count, "error") %> prohibited this 
                                SMO withdrawal being saved:
                        </h2>
                        <ul>
                                <% @smowithdrawal.errors.full_messages.each do |msg| %>
                                        <li><%= msg %></li>
                                <% end %>
                        </ul>
                </div>
        <% end %>

        <p>
                <%= f.label "SMO Withdrawal Date" %><br>
                <%= f.date_select :transaction_date, default: Date.today %>
        </p>

        <p>
                <%= f.label :description %><br>
                <%= f.text_field :description, value: 'SMO Withdrawal' %>
        </p>

        <p>
                <%= f.label :amount %><br>
                <%= f.number_field :amount, :class => 'text_field', :step => 'any' %>
        </p>

	<%= f.hidden_field :entry_type_id, :value => @entry_category.entry_type_id %>
	<%= f.hidden_field :entry_category_id, :value => @entry_category.id %>
	<%= f.hidden_field :accounting_date, :value => @daily_report.date %>	

        <p>
                <%= f.submit %>
        </p>
<% end %>

