<h1>Payouts</h1>

<table>
	<tr>
		<th>Description</th>
		<th>Category</th>
		<th>Amount</th>
		<th colspan="2"></th>
	</tr>

	
	<% @daily_report.payouts.each do |payout| %>
		<tr>
			<td><%= payout.description %></td>
			<td><%= payout.category %></td>
			<td><%= number_to_currency(payout.amount) %></td>
			<td><%= link_to 'Edit', edit_daily_report_payout_path(payout.daily_report, payout) %></td>
			<td><%= link_to 'Delete', daily_report_payout_path(payout.daily_report, payout), 
				method: :delete,
				data: { confirm: 'Are you sure?' } %></td>
		</tr>
	<% end %>
</table>

<h2>Add a payout:</h2>

<% @payout = @daily_report.payouts.build %>
<%= render 'form' %>

<p>
	<%= link_to 'Back', daily_reports_path %>	
</p>
