<h1>List of daily reports</h1>

<%= link_to 'New Report', new_daily_report_path %>

<table>
	<tr>
		<th>Report Date</th>
		<th>Grocery</th>
		<th>Fuel</th>
		<th>Gift Cards</th>
		<th>Total</th>
		<th colspan="2"></th>
		<th>Credit</th>
		<th>Debit</th>
		<th>Cash</th>
		<th>Total</th>
		<th colspan="2"></th>
		<th>Expected Debit</th>
		<th>Actual Debit</th>
		<th colspan="2"></th>
		<th>Payouts</th>
		<th>Cash Expected</th>
		<th>Cash Counted</th>
		<th>Differences</th>
		<th>Notes</th>
		<th colspan="2"></th>
	<tr>

	<% @DailyReports.each do |dailyreport| %>
		<tr>
			<td><%= dailyreport.date =%></td>
			<td><%= dailyreport.grocery =%></td>
			<td><%= dailyreport.fuel =%></td>
			<td><%= dailyreport.gift_cards =%></td>
			<td><b><%= dailyreport.grocery + dailyreport.fuel + dailyreport.gift_cards =%></b></td>
			<td colspan="2"></td>
			<td><%= dailyreport.credit =%></td>
			<td><%= dailyreport.debit =%></td>
			<td><%= dailyreport.cash =%></td>
			<td><b><%= dailyreport.credit + dailyreport.debit + dailyreport.cash =%></b></td>
			<td colspan="2"></td>
			<td><%= (dailyreport.fuel + dailyreport.gift_cards - dailyreport.credit - dailyreport.debit) - dailyreport.commission=%></td>
			<td>0.00</td>
			<td colspan="2"></td>
			<td>0.00 </td>
			<td><%= dailyreport.cash =%></td>
			<td><%= dailyreport.cash_counted =%></td>
			<td><%= dailyreport.cash - dailyreport.cash_counted =%></td>
			<td><%= dailyreport.notes =%></td>
			<td><%= link_to 'Edit', edit_daily_report_path(dailyreport) %></td>
			<td><%= link_to 'Delete', daily_report_path(dailyreport),
				method: :delete,
				data: { confirm: 'Are you sure?' } %></td>
		</tr>
	<% end %>
</table>
