<%= javascript_include_tag "/javascripts/daily_reports_index" %>

<h1>List of daily reports</h1>

<%= link_to 'New Report', new_daily_report_path %>

<table id="reports_table" border="1">
	<tr>
		<th>Date</th>
		<th width="5%"</th>
		<th>Grocery</th>
		<th>Fuel</th>
		<th>Gift Cards</th>
		<th>Total</th>
		<th width="5%"</th>
		<th>Credit</th>
		<th>Debit</th>
		<th>Cash</th>
		<th>Total</th>
		<th width="5%"></th>
		<th>Expected Debit</th>
		<th>Actual Debit</th>
		<th width="5%"></th>
		<th>Payouts</th>
		<th>Cash Expected</th>
		<th>Cash Counted</th>
		<th>Difference</th>
		<th>Notes</th>
		<th colspan="4"></th>		
	<tr>

	<% @DailyReports.each do |dailyreport| %>
		<% @total_payouts = dailyreport.payouts.sum(:amount) %>
		<tr>
			<td><%= dailyreport.date %></td>
			<td></td>
			<td><%= number_to_currency(dailyreport.grocery) %></td>
			<td><%= number_to_currency(dailyreport.fuel) %></td>
			<td><%= number_to_currency(dailyreport.gift_cards) %></td>
			<td id="id_TotalSales"><b><%= number_to_currency(dailyreport.grocery + dailyreport.fuel + dailyreport.gift_cards) %></b></td>
			<td></td>
			<td><%= number_to_currency(dailyreport.credit) %></td>
			<td><%= number_to_currency(dailyreport.debit) %></td>
			<td><%= number_to_currency(dailyreport.cash) %></td>
			<td id="id_TotalReceipts"><b><%= number_to_currency(dailyreport.credit + dailyreport.debit + dailyreport.cash) %></b></td>
			<td></td>
			<td id="id_ExpectedDebit"><%= number_to_currency((dailyreport.fuel + dailyreport.gift_cards - dailyreport.credit - dailyreport.debit) - dailyreport.commission) %></td>
			<td id="id_ActualDebit"><%= number_to_currency(dailyreport.actual_debit) %></td>
			<td></td>
			<td><%= number_to_currency(@total_payouts) %></td>
			<td id="id_ExpectedCash"><%= number_to_currency(dailyreport.cash - @total_payouts) %></td>
			<td id="id_CountedCash"><%= number_to_currency(dailyreport.cash_counted) %></td>
			<td id="id_CashDifference"><%= number_to_currency(dailyreport.cash_counted - (dailyreport.cash - @total_payouts)) %></td>
			<td><%= dailyreport.notes %></td>
			<td><%= link_to 'Edit', edit_daily_report_path(dailyreport) %></td>
			<td><%= link_to 'Payouts', daily_report_payouts_path(dailyreport) %></td>
			<td><%= link_to 'Deposits', daily_report_deposits_path(dailyreport) %></td>
			<td><%= link_to 'Delete', daily_report_path(dailyreport),
				method: :delete,
				data: { confirm: 'Are you sure?' } %></td>
		</tr>
	<% end %>
</table>

<%= link_to 'Back to home', root_path %>
